.route-links {
  display: flex;
  width: 100%;
  margin: 0 0 1rem 0;
  align-items: space-between;
}

.route-links a {
  margin: 0;
  flex: 1 1 0px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .route-links {
    font-size: small;
  }
}
