.route-modal {
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-height: 90vh;
}
.route-map {
  width: 80%;
  margin: 1rem;
  border: 0.5px solid rgb(209, 212, 199);
  border-radius: 10px;
  object-fit: contain;
}

@media screen and (max-height: 650px) {
  .route-map {
    width: 50%;
  }
}

@media screen and (max-height: 599px) {
  .route-map {
    width: 30%;
  }
}
