.page-intro {
  display: flex;
  flex-direction: column;
  margin: 2rem 1.5rem 1.5rem 2rem;
}

.page-description {
  text-indent: 2rem;
  margin: 0;
}

.page-signature {
  align-self: flex-end;
  font-style: italic;
  margin: 0;
  font-size: 1.5em;
}
