/* .carousel-container {
  max-width: 100vw;
}

.carousel-image {
  height: fit-content;
}*/

@media screen and (max-width: 600px) {
  .carousel-container {
    max-width: 100vw;
    max-height: 300px;
  }
  .dots {
    bottom: 5px;
  }
  .dot {
    height: 5px;
    width: 5px;
    background-color: #d1d4c7;
  }
  .active,
  .dot:hover {
    height: 8px;
    width: 8px;
  }
}
