.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title {
}

.page-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 650px;
}

.page-description {
  text-indent: 2em;
  margin-bottom: 0;
}

.page-signature {
  align-self: flex-end;
  font-style: italic;
  margin-top: 0;
  font-size: 1.5em;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.route-tile {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  width: 30%;
  /* height: 45%; */
  margin: 1%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.route-name {
  font-size: 1em;
  text-align: center;
  height: 10%;
  width: 95%;
}

.route-thumbnail.landscape {
  max-width: 100%;
  height: auto;
}

.route-thumbnail.portrait {
  max-width: 57%;
  height: auto;
}

.route-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.route-info div {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .page-title {
    margin: 0;
  }

  .page-intro {
    font-size: 0.75em;
  }

  .route-name {
    font-size: 0.75em;
  }

  .route-info div {
    font-size: 0.75em;
  }
}
